[Unit]
Description=Cthulhu Roller bot service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=cthulhu_roller
Environment=DISCORD_TOKEN=discord_bot_token
ExecStart=/path/to/cthulhu_roller/cthulhu_roller.py

[Install]
WantedBy=multi-user.target
